/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

 * {
   margin: 0;
   padding: 0;
 }

 html, body {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #d4d8e8;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0rem 3rem;
    padding: 2rem 0rem;
  }

  .clearfix {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header {
    background: #3b5998;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  }

  header a {
    color: white;
    font-weight: bold;
  }

  ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  
  li {
    display: inline;
    padding: 10px;
  }

  a {
      text-decoration: none;
      color: black;
  }
  
  .left-nav {
    float: left;
  }

  .left-nav a {
    font-size: x-large;
  }
  
  .right-nav {
    float: right;
  }

  .right-nav-items {
    display: flex;
    align-items: center;
  }

  .logout-home {
    background-color: #3c5898;
    color: white;
    border: none;
    padding: .25rem;
    margin-bottom: .25rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
  }

  .back-button {
    background-color: #3c5898;
    color: white;
    border: none;
    padding: .25rem;
    margin-bottom: .25rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
    width: 30px;
  }

  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }