// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my-friends {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.edit-profile {
    background-color: #3c5898;
    color: white;
    border: none;
    padding: .25rem;
    margin-bottom: .25rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
}

.edit-profile-page {
    .actions {
        input {
            background-color: #3c5898;
            color: white;
            border: none;
            padding: .25rem;
            margin-bottom: .25rem;
            border-radius: 3px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
            cursor: pointer;
        }
    }

    .cancel-account {
        background-color: #3c5898;
        color: white;
        border: none;
        padding: .25rem;
        margin-bottom: .25rem;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        cursor: pointer;
    }
}

// Add/View users

.add-friend {
    background-color: #3c5898;
    color: white;
    border: none;
    padding: .25rem;
    margin-bottom: .25rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
}

.users-title {
    margin-bottom: .5rem;
}